<nav class="navbar navbar-expand-lg navbar-inverse">
<div class="container-fluid">
  <a class="navbar-brand" href="/customers">Cafeteria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/customers">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="float:right;">
                <li class="nav-item">
                    <a class="nav-link" href=<%=customer_cart_index_path%>>Cart</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href=<%=customer_orders_path%>>Orders</a>
                </li>

                <li class="nav-item">
                    <%= link_to "Sign-out", destroy_session_path, method: "delete", class: "nav-link"%>
                </li>
            </ul>
        </div>
  </div>
</nav>

<div class="div-main">
  <div class="bg-text"  style="text-align: left;">
  <div class="container well" style="margin-top: 2%; margin-right: 30px; margin-bottom: 2%;">

  <%= render partial: "cartItems-section", locals:{cart: @cart} %>

  <%cart_total = 0%>
  <%if @cart!= nil %>
  <% @cart.each do |item_id, quantity|%>
      <%item = Menu.find(item_id)%>
      <% cart_total += item.price*quantity.to_i %>
  <% end %>
  <% end %>
  <h1 style="float:left; font-size:18px; color:black;"> Total: ₹ <%=cart_total%></h3>

  <%= form_with(url: "/customers/#{session[:current_user_id]}/cart", method: "post") do %>
    <%= submit_tag 'Place Order', class: 'btn btn-primary place-order'%>
  <%end%>
  </div>
  </div>
  </div>
