<%= render partial: "/customers/navbar-section" %>

<div class="div-main">
  <div class="bg-text"  style="text-align: left;">
  <div class="container well" style="margin-top: 2%; margin-right: 30px; margin-bottom: 2%;">

  <%= render partial: "cartItems-section", locals:{cart: @cart} %>

  <%cart_total = 0%>
  <%if @cart!= nil %>
  <% @cart.each do |item_id, quantity|%>
      <%item = Menu.find(item_id)%>
      <% cart_total += item.price*quantity.to_i %>
  <% end %>
  <% end %>
  <h1 style="float:left; font-size:18px; color:black;"> Total: ₹ <%=cart_total%></h3>

  <%= form_with(url: "/customers/#{session[:current_user_id]}/cart", method: "post") do %>
    <%= submit_tag 'Place Order', class: 'btn btn-primary place-order'%>
  <%end%>
  </div>
  </div>
  </div>
