<nav class="navbar navbar-expand-lg navbar-inverse">
<div class="container-fluid">
  <a class="navbar-brand" href="/customers">Cafeteria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%="/pending_orders"%>">Pending orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%="/records"%>">Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%="/editusers"%>">Users' control</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="<%="/menus"%>">Menus</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="float:right;">
                <li class="nav-item">
                    <%= link_to "Sign-out", destroy_session_path, method: "delete", class: "nav-link"%>
                </li>
            </ul>
        </div>
  </div>
</nav>

<div class="div-main">
<div class="bg-text" style="position:absolute; top:150px; top:0 auto;
   text-align:left;">
<h3 class="menu-Title" ><%= @menu[0].menu_name %><h3>

<%= render partial: "item-section", locals:{menu: @menu} %>

<!-- Add Items -->
<%= form_with(url: "/menus/#{params[:menu_id]}/items", method: "post") do %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="new-menu-title">Item Name</label>
      <input type="text" class="form-control item-name-title" name="item_name" placeholder="Cold drink">
    </div>
    <div class="form-group col-md-6">
      <label class="new-menu-title">price</label>
      <input type="text" class="form-control price" name="price" placeholder="₹ 100">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1" class="new-menu-title">Description</label>
    <textarea class="form-control" name="description" ></textarea>
  </div>
  <%= submit_tag 'Add a new Item', class: 'btn btn-primary' %>
<% end %>
</div>
</div>
